:javascript
  window.addEventListener("load", () => {
    $("#donatemodal").modal('toggle')
  })

#donatemodal.modal.fade{'aria-hidden': 'true', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content.p-3
      .svg-container.h-25
        = show_svg('donate.svg')
      .modal-body
        %h4.text-center Join the fight against Sex Trafficking
        %h5.text-center
          %strong Give
          an optional
          donation to our Non-profit partner
          = link_to 'Gracehaven', 'https://www.gracehaven.me/', style: 'color: rgb(7,118,112);'
        .container.text-center.pt-2
          = link_to 'https://www.gracehaven.me/get_involved/', style: 'color: white;' do
            %button.btn.m-1{style: 'background-color: rgb(7,118,112); color: white;'} Donate
          %button.btn.btn-secondary.btn-close.m-1{'data-bs-dismiss': 'modal'} Nah, I'm good
