.container.p-5
  .w-25.mx-auto
    = image_tag'team_work.svg', class: 'w-100', alt: 'Team Work Vector graphic'
  .contianer
    %h3{ style: 'color: #1484ac'} Join the Project!
    %p 
      Do you have a desire to contribute to the community and/or a life long dream to work for free? If so, please reach out to us
      %em kindnesspassedon@gmail.com.
      There are many opportunities to contribute in these areas
    %ul
      %li Printing
      %li Logistics
      %li Social Media Management
      %li Content Creation
      %li Graphic Design
      %li Outreach
      %li Software Development
      %li Devops
      %li ...and more
    %p 
      If you are a Developer and you are looking for an open source project, look NO further! Developers of all skills, backgrounds, and technologies welcome. Our main stack is Ruby, Rails, React, React Native, and JS. You can find the repo here: 
      = link_to('ThePondProject','https://github.com/The-Pond-Project/samaritan')

    %h3{ style: 'color: #1484ac'} Thank you to all our contributors!
    %ul
      %li Callie Burt
      %li Alex Klepacz
      %li Candace Klepacz
      %li Kelaiah Conway
      %li Elijah Bowie
      %li Liza Tillman
      %li Steve Carter