.container.p-5
  %h1.text-center We Need Developer Help
  %h5.text-center Sorry this page is so lame...but you could change that.
  %p.text-center If you are a Developer and you are looking for an open source project, look NO further! Developers of all skills, backgrounds, and technologies welcome. Our main stack is Ruby, Rails, React, React Native, and JS. You can find the repo here: 
  %h3.text-center= link_to('ThePondProject','https://github.com/The-Pond-Project/samaritan')