.donate-jumbotron
  .container
    .row.custom-section.d-flex.align-items-start
      .col-12.col-lg-10
        %h1.fw-bol.tron-text{ style: 'font-weight: bold; font-size: 65px'} Donate. Participate through giving
        = link_to 'Donate to MissionForKindness', root_path, class:'btn btn-primary'

.container.p-5
  .text-center
    %p.m-2{ style: 'font-size: 21px; line-height: 1.5em; color: grey;'} We are transparent about <strong>all</strong> donations and the use of those donations. All money given using this page will go to MissionForKindness and the costs of running/maintaing the platform. These funds will not go to any of our partnered organizations, to find out more on how to give to a partnedred organization go here. 
    %br
    %p.m-2{ style: 'font-size: 21px; line-height: 1.5em; color: #1484ac'}Below you will find a list of all of our bills and a ledger that displays use of funds. This is our transparent and collaborative way to show how exactly your donation does to help our mission.

-# .container
-#   .dropdown
-#     %button#dropdownMenuButton1.btn.btn-lg.btn-menu.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
-#       Gmail Suites
-#     %ul.dropdown-menu.dropdown-menu-center{"aria-labelledby" => "dropdownMenuButton1"}
-#       %li
-#         %a.dropdown-item{:href => "#"} Action
-#       %li
-#         %a.dropdown-item{:href => "#"} Another action
-#       %li
-#         %a.dropdown-item{:href => "#"} Something else here
.container.pb-5
  %hr
  .row
    .col-12.m-3
      %h1 Costs and Receipts
      %h4.text-secondary.pt-5 2022
    .col-12.col-sm-6.col-md-4
      .card
        %a{:href => "#"}
          .card-body.d-flex.align-items-center
            .pl-3.data
              %h5 Ngrok
              %p.m-0
                Yearly Statement for Ngrok. A development tool.
    .col-12.col-sm-6.col-md-4
      .card
        %a{:href => "#"}
          .card-body.d-flex.align-items-center
            .pl-3.data
              %h5 Ngrok
              %p.m-0
                Yearly Statement for Ngrok. A development tool.
    .col-12.col-sm-6.col-md-4
      .card
        %a{:href => "#"}
          .card-body.d-flex.align-items-center
            .pl-3.data
              %h5 Ngrok
              %p.m-0
                Yearly Statement for Ngrok. A development tool.
  .row.mt-4
    .col-12.col-sm-6.col-md-4
      .card
        %a{:href => "#"}
          .card-body.d-flex.align-items-center
            .pl-3.data
              %h5 Ngrok
              %p.m-0
                Yearly Statement for Ngrok. A development tool.
    .col-12.col-sm-6.col-md-4
      .card
        %a{:href => "#"}
          .card-body.d-flex.align-items-center
            .pl-3.data
              %h5 Ngrok
              %p.m-0
                Yearly Statement for Ngrok. A development tool.  
    