.container.py-5
  .contianer.text-center
    .w-50.mx-auto
      = show_svg('explain.svg')
    %h2{ style: 'color: #1484ac;'} What is ThePondProject?
  %p{ style: 'font-size: 21px; line-height: 1.5em;' } The Pond Project is an open source project that is focused on making a difference in the community through selfless acts of kindness.
  %br
  %p{ style: 'font-size: 21px; line-height: 1.5em;' } Our mission is to show the impact of <em>"Kindness Passed On"</em>. The impact that an act of kindness can have on you (the giver), on the recipient, and the unfathomable effect it has on the world around us. The Pond Project is not a Non-Profit rather we partner with a Non-Profit every year; <strong>100%</strong> of KindCard proceeds for that year go to the organization. So every time you pass on a kindcard you are not only impacting the recipient you are also blessing a non-profit and their mission. 
  %br
  %p{ style: 'font-size: 21px; line-height: 1.5em;' } Anyone and everyone can participate in this project. Businesses can partner with us by buying KindCards and distributing them to their employees, Non-profits can participate by coming alongside of us and promoting love in kindness in our communities, developers can participate by contributing their time and ideas to build the platform, individuals can participate by doing a selfless act and then passing on their KindCard. If you don't have a KindCard you can participate by practicing empathy, kindness, selfless, and generosity.

  .container.text-center.mt-5
    %h2{ style: 'color: #1484ac;'} How does it Work?
    %br
    %h4{ style: 'color: #1484ac;'} Step 1
    %p{ style: 'font-size: 21px; line-height: 1.5em;' } Start a ripple effect of kindness by doing a thoughtful and selfless act for someone.
    %br
    %h4{ style: 'color: #1484ac;'} Step 2
    %p{ style: 'font-size: 21px; line-height: 1.5em;' } Record your act of kindness by scanning your KindCard and creating a ripple. Get notified as your good deed inspires others to act!
    %br
    %h4{ style: 'color: #1484ac;'} Step 3
    %p{ style: 'font-size: 21px; line-height: 1.5em;' } Let the kindness continue. Leave the KindCard with the recipient of your kind act.
