.main-content.impact-cards
  .header.bg-gradient-primary.pb-8.pt-5.pt-md-8
    .container-fluid
      %h1.text-white Impact Stats
      %p.mb-5.text-white These are the stats since the first release of KindCards in March 2022.
      .header-body
        .row
          .col-xl-3.col-lg-6
            .card.card-stats.mb-4.mb-xl-0      
              .card-body
                .row
                  .col
                    %h5.card-title.text-uppercase.text-muted.mb-0 Active Ponds
                    %span.h2.font-weight-bold.mb-0 350,897
                  .col-auto
                    .icon.icon-shape.bg-pond-blue.text-white.rounded-circle.shadow
                      %span.material-icons-outlined.material-icons style
                %p.mt-3.mb-0.text-muted.text-sm
                  %span.text-success.mr-2
                    %i.fa.fa-arrow-up
                    3.48%
                  %span.text-nowrap Since March 2022
          .col-xl-3.col-lg-6
            .card.card-stats.mb-4.mb-xl-0
              .card-body
                .row
                  .col
                    %h5.card-title.text-uppercase.text-muted.mb-0 Ripples
                    %span.h2.font-weight-bold.mb-0 2,356
                  .col-auto
                    .icon.icon-shape.bg-primary.text-white.rounded-circle.shadow
                      %i.bi.bi-droplet-fill
                %p.mt-3.mb-0.text-muted.text-sm
                  %span.text-danger.mr-2
                    %i.fas.fa-arrow-down
                    3.48%
                  %span.text-nowrap Since March 2022
          .col-xl-3.col-lg-6
            .card.card-stats.mb-4.mb-xl-0
              .card-body
                .row
                  .col
                    %h5.card-title.text-uppercase.text-muted.mb-0 Releases
                    %span.h2.font-weight-bold.mb-0 924
                  .col-auto
                    .icon.icon-shape.bg-gold.text-white.rounded-circle.shadow
                      %i.bi.bi-calendar3
                %p.mt-3.mb-0.text-muted.text-sm
                  %span.text-warning.mr-2
                    %i.fas.fa-arrow-down
                    1.10%
                  %span.text-nowrap Since March 2022
          .col-xl-3.col-lg-6
            .card.card-stats.mb-4.mb-xl-0
              .card-body
                .row
                  .col
                    %h5.card-title.text-uppercase.text-muted.mb-0 Partnered organizations
                    %span.h2.font-weight-bold.mb-0 49,65%
                  .col-auto
                    .icon.icon-shape.bg-green.text-white.rounded-circle.shadow
                      %i.bi.bi-building
                %p.mt-3.mb-0.text-muted.text-sm
                  %span.text-success.mr-2
                    %i.fas.fa-arrow-up
                    12%
                  %span.text-nowrap Since last month

.impact-leaderboard
  .container
    .h1.text-center.mb-4
      %strong
        %span{ style: 'color: #1484ac '} #passiton 
      is the most used tag
    .col-md-12.col-sm-12.col-xs-12
      .row
        .col-md-12
          .widget-box
            .widget-header.bordered-bottom.bordered-themesecondary
            .widget-body
              .widget-main.no-padding
                .tickets-container
                  %ul.tickets-list
                    %li.ticket-item
                      .row
                        .ticket-user.col-md-6.col-sm-12
                          %span.tag-name #passiton
                          %span.user-at by
                          %span.user-company ThePondProject
                        .ticket-time.col-md-4.col-sm-6.col-xs-12
                          .divider.hidden-md.hidden-sm.hidden-xs
                          %i.fa.fa-clock-o
                          %span.time 1 Hours Ago
                        .ticket-type.col-md-2.col-sm-6.col-xs-12
                          %span.divider.hidden-xs
                          %span.type 
                            %strong Total
                            301
                    %li.ticket-item
                      .row
                        .ticket-user.col-md-6.col-sm-12
                          %span.tag-name #covermymeds
                          %span.user-at by
                          %span.user-company CoverMyMeds
                        .ticket-time.col-md-4.col-sm-6.col-xs-12
                          .divider.hidden-md.hidden-sm.hidden-xs
                          %i.fa.fa-clock-o
                          %span.time 3 Hours Ago
                        .ticket-type.col-md-2.col-sm-6.col-xs-12
                          %span.divider.hidden-xs
                          %span.type 
                            %strong Total
                            287
                    %li.ticket-item
                      .row
                        .ticket-user.col-md-6.col-sm-12
                          %span.tag-name #gointernational
                          %span.user-at by
                          %span.user-company ThePondProject
                        .ticket-time.col-md-4.col-sm-6.col-xs-12
                          .divider.hidden-md.hidden-sm.hidden-xs
                          %i.fa.fa-clock-o
                          %span.time 5 Hours Ago
                        .ticket-type.col-md-2.col-sm-6.col-xs-12
                          %span.divider.hidden-xs
                          %span.type 
                            %strong Total
                            212
                    %li.ticket-item
                      .row
                        .ticket-user.col-md-6.col-sm-12
                          %span.tag-name #ohio
                          %span.user-at by
                          %span.user-company ThePondProject
                        .ticket-time.col-md-4.col-sm-6.col-xs-12
                          .divider.hidden-md.hidden-sm.hidden-xs
                          %i.fa.fa-clock-o
                          %span.time 10 Minutes Ago
                        .ticket-type.col-md-2.col-sm-6.col-xs-12
                          %span.divider.hidden-xs
                          %span.type 
                            %strong Total
                            145
                    %li.ticket-item
                      .row
                        .ticket-user.col-md-6.col-sm-12
                          %span.tag-name #growthepond
                          %span.user-at by
                          %span.user-company ThePondProject
                        .ticket-time.col-md-4.col-sm-6.col-xs-12
                          .divider.hidden-md.hidden-sm.hidden-xs
                          %i.fa.fa-clock-o
                          %span.time 1 Hours Ago
                        .ticket-type.col-md-2.col-sm-6.col-xs-12
                          %span.divider.hidden-xs
                          %span.type 
                            %strong Total
                            12


.impact-time-since
  .container
    %h1.text-center.m-4
      It's been 
      %strong
        %span{ style: 'color: #1484ac '} 2hrs 
      since the last ripple of kindness

.container.ripple-stats.mt-4
  %section#our-stats
    .row.mb-5
      .col.text-center
        %h2.text-green.h1.text-center More Stats
        %p.text-uppercase.font-italic.font-weight-light Detailed look at ripples and ponds
    .row.text-center.mb-2
      .col
        .counter
          %i.fa.fa-code.fa-2x.text-green
          %h2.timer.count-title.count-number{"data-speed" => "1500", "data-to" => "100"} 100
          %p.count-text Largest Pond size
      .col
        .counter
          %i.fa.fa-coffee.fa-2x.text-green
          %h2.timer.count-title.count-number{"data-speed" => "1500", "data-to" => "1700"} 1,700
          %p.count-text International Ripples
      .col
        .counter
          %i.fa.fa-lightbulb-o.fa-2x.text-green
          %h2.timer.count-title.count-number{"data-speed" => "1500", "data-to" => "11900"} 11,900
          %p.count-text Domestic Ripples
      .col
        .counter
          %i.fa.fa-bug.fa-2x.text-green
          %h2.timer.count-title.count-number{"data-speed" => "1500", "data-to" => "157"} 157
          %p.count-text Last Ripple Location