.partner-jumbotron
  .container
    .row.custom-section.d-flex.align-items-start
      .col-12.col-lg-10
        %h1.fw-bol.tron-text{ 'data-aos': 'fade-right', style: 'font-weight: bold; font-size: 65px'} Join the fight to end child sex trafficking.
        %p.fw-light.tron-text{ 'data-aos': 'fade-in', style: 'font-weight: 300; width: 50%; font-size: 16px;'}  Gracehaven was founded to care for survivors, and to help prevent others from ever falling victim to sex trafficking.
        = link_to 'Visit Gracehaven', 'https://www.gracehaven.me/', { 'data-aos': 'fade-in', class:'btn btn-primary'}

.container.pt-4
  .h3.strong.lh-lg
    Gracehaven's programs are carefully designed to most effectively meet the needs of everyone impacted by human trafficking -- from high school students learning about it, to first responders  and professionals who must interact with those who may be affected, to victims who've experienced it firsthand.
  .contact.m-2
    %p.fs-4
      %b Phone: 
      614.665.0665
    %p.fs-4
      %b Email:
      info@gracehaven.me

  %button.btn.button-primary.my-4
    = link_to 'Donate to Gracehaven', 'https://www.gracehaven.me/get_involved/'