.container.pt-5
  .svg-container.h-50
    = show_svg('thank_you.svg')
  %hr.py-3
  .text-center
    %p Openhanded hearts like yours, are not so easy to find. It takes a special person to be so generous and kind.
    %p To care so much for your fellow human is a quality all too rare. Yet you give of your resources and time, for all in need to share.
    %p.pb-5 So thank you for being a Altruist, we're privileged to accept your donation. We want you to know how appreciated you are, not just today, but forever.