.container-fluid#about{ style: 'background-color: #edc06d; color: white;'}
  .row.no-gutter
    .col-md-6.d-none.d-md-flex.about-bg-image
    .col-md-6.p-5
      %h2.section-heading.text-uppercase.mb-4.text-center{ style: 'font-weight: bold;'} ABOUT
      %p{ style: 'font-size: 21px; line-height: 1.5em;' } The Pond Project is an open source project that is focused on making a difference in the community through selfless acts of kindness.
      %br
      %p{ style: 'font-size: 21px; line-height: 1.5em;' } Our goal is to show the impact of <em>"Kindness Passed On"</em>. The impact that an act of kindness can have on you (the giver), on the recipent, and the unfathomable effect it has on the world around us. The Pond Project is not a Non-Profit rather we partner with a Non-Profit every year and give <strong>100%</strong> of KindCard proceeds for that year to the organization. So everytime you pass on a kindcard you are not only impacting the recipent you are also blessing a non-profit and their mission. 
      %br
      %p{ style: 'font-size: 21px; line-height: 1.5em;' } Anyone and everyone can participate in this project. Businesses can partner with by buying KindCards and offering them to their employees, Non-profits can participate by coming along side of us and promoting love in kindness in our communities, developers can participate by contributing there time and ideas to build the platform, indivuals can participate by doing a selfless act and then passing on their KindCard. If you don't have a KindCard you can participate by practicing empathy, kindness, selfless, and generosity.
