%section.page-section{ 'data-aos': 'fade-up' }
  .container{ style: 'padding: 100px' }
    .text-center
      %h2.section-heading.text-uppercase.mb-4{ style: 'font-weight: bold;'} How it works
      %p.section-subheading.text-muted.mb-5
        %em
          %strong Note: 
          A KindCard is a physical paper card. The QR code on the KindCard is scanned to add a ripple of kindness to the pond.
    .row.text-center
      .col-md-4
        %span.material-icons-outlined.material-icons{ style: 'font-size: 50px; color: #1484ac' } looks_one
        %h4.my-3 Do It!
        %p.text-muted.fs-4
          Start a ripple effect of kindness by doing a thoughtful and selfless act for someone.
      .col-md-4
        %span.material-icons-outlined.material-icons{ style: 'font-size: 50px; color: #1484ac' }  looks_two
        %h4.my-3 Record It!
        %p.text-muted.fs-4
          Record your act of kindness by scanning your KindCard and creating a ripple. Get notified as your good deed inspires others to act!
      .col-md-4
        %span.material-icons-outlined.material-icons{ style: 'font-size: 50px; color: #1484ac' }  looks_3
        %h4.my-3 Pass It!
        %p.text-muted.fs-4
          Let the kindness continue. Leave the KindCard with the recipient of your kind act.