.qoute-body{ 'data-aos': 'fade-in', style: 'background-color: #f5fafb'}
  %blockquote
    %p.mb-0{ style: 'font-size: 30px; line-height: 1.3em;'}No act of kindness, no matter how small, is ever wasted.
    %p.mt-3 <em>- AESOP</em>