.welcome-jumbotron
  .container
    .row.custom-section.d-flex.align-items-start
      .col-12.col-lg-10
        %h1.fw-bol.tron-text{ style: 'font-weight: bold; font-size: 65px'} Kindness Passed On
        %p.fw-light.tron-text{ style: 'font-weight: 300; width: 50%; font-size: 16px;'}  Do a generous act for someone and track the impact that your kindness makes on the world. 
        = link_to 'Learn More', '#about', class:'btn btn-primary'