.container
  .story-container.mt-5
    %h1.m-3{ style: 'padding: 0px 10px'} Tell Your Story
    %p{ style: 'color: grey; font-size: 16px; line-height: 1.3em; padding: 30px' } If you were positively impacted by recieveing or giving an act of kindness, tell us here. We want to know all about your encounter, we will review your story and then share it on the website and our other platforms as inspiration.

= render 'form'