= render 'popup_modal'
.h-25
  =image_tag('kind_qoute.svg')
.container.pt-5
  %h2{ style: 'color: #1484ac'} Record a Ripple of Kindness
  %p.text-muted Do a thoughtful act for someone. Then record your act of kindness and then leave the KindCard with the recipient of your kind act.
  = render 'form'
