<div class="container">
  <ul class="tags">
    <li><button class="tag_style">#linux<span><p class="tag_count">122</p></span></button></li>
<li><button class="tag_style">#python<span><p class="tag_count">12</p></span></button></li>
    <li><button class="tag_style">#neovim<span><p class="tag_count">1</p></span></button></li>
    <li><button class="tag_style">#assembly<span><p class="tag_count">1220</p></span></button></li>
    <li><button class="tag_style">#javascript<span><p class="tag_count">12200</p></span></button></li>
    <li><button class="tag_style">#machine_learning<span><p class="tag_count">12200000</p></span></button></li>
        <li><button class="tag_style">#css<span><p class="tag_count">19</p></span></button></li>
    <li><button class="tag_style">#java<span><p class="tag_count">7000</p></span></button></li>
            <li><button class="tag_style">#robotics<span><p class="tag_count">1</p></span></button></li>
    <li><button class="tag_style">#electronic engineering<span><p class="tag_count">7</p></span></button></li>
  </ul>
</div>