<div class="container wow fadeInUp">
  <div class="row">
    <div class="col-lg-4 col-md-4 text-xs-center">
      <div class="feature">
        <i class="icon-lg ion-ios-grid-view-outline wow fadeIn" data-wow-delay=".1s"></i>
        <h6 class="text-uppercase">Easier</h6>
        <p class="text-muted m-b-0">Flexbox provides <a href="https://v4-alpha.getbootstrap.com/getting-started/flexbox">simpler, more flexible layout</a> options like vertical centering.</p>
      </div>
    </div>
  </div>
</div>